

.parentDiv{
    border: 2px solid;
    width: 25%;
    margin:20px auto;
    text-align: center;
    padding: 10px;
    min-width: 200px;
}
.inputField{
    display: block;
    padding: 10px;
    margin: 10px auto;
}

.btn{
    display: block; 
     background-color: blue;
     margin: 10px auto;
     width: 80%;
     padding: 10px;
     border-radius: 6px;
     color: white;
     border: 0px;
}

.file{
    padding: 10px;
    background-color: blue;
    width: 80%;
    margin-top: 10px;
    
}